<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">                      
    <title>Students</title>
    <meta 
        name="viewport"
        content="viewport-fit=cover, width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />
    <meta name="format-detection" content="telephone=no"/>
    <meta name="msapplication-tap-highlight" content="no"/>

    <link rel="icon" type="image/x-icon" href="..\..\assets\icons\favicon.ico">

    <!-- Libs -->
    <link rel="stylesheet" href="..\..\assets\libs\students.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    

</head>
<body>
    <div class="search-bar">
        <a href="..\..\pages\homepage.html">
            <img class="logo" src="..\..\assets\icons\logo.png" alt="Logo">
        </a>
        <input type="text" id="search-input" placeholder="Search for...">
        <button id="search-button">Search</button>
    </div>

    <div id="student-list" class="student-list">
        <h1>Exchange Students List</h1>
        <div class="remove-all-students">
            <button id="remove-all-button">Remove All</button>
        </div>
        <ul id="student-items" class="student-items">
            <li>
                <span>${student.name} ${student.surname}</span>
                <span>${student.cardNumber}</span>
                <button class="edit-button" data-cardNumber="${student.cardNumber}">Edit</button>
                <button class="remove-button" data-cardNumber="${student.cardNumber}">Remove</button>
            </li>
        </ul>
    </div>



    <div id="student-form" class="student-form hidden">
        <div class="edit-student-header">
            <h3>Student Information</h3>
        </div>
        <div class="edit-student-container">
            <div class="edit-student-content">
                <form class="personal-data-form">
                    <label for="student-card-number">Number ESNcard:</label>
                    <input type="text" id="student-card-number" class="personal-data-input">

                    <label for="student-email">Email:</label>
                    <input type="email" id="student-email" class="personal-data-input">

                    <label for="student-name">Name:</label>
                    <input type="text" id="student-name" class="personal-data-input">

                    <label for="student-surname">Surname:</label>
                    <input type="text" id="student-surname" class="personal-data-input">

                    <label for="student-gender">Gender:</label>
                    <select id="student-gender">
                        <option value="None"></option>
                        <option value="Man">Man</option>
                        <option value="Woman">Woman</option>
                        <option value="Non-binary">Non-binary</option>
                        <option value="Other">Other</option>
                        <option value="Prefer not to specify">Prefer not to specify</option>
                    </select>

                    <label for="student-birth-date">Birth date:</label>
                    <input type="date" id="student-birth-date" class="personal-data-input">

                    <label for="student-nationality">Nationality:</label>
                    <input type="text" id="student-nationality" class="personal-data-input">

                    <label for="student-phone">Phone Number:</label>
                    <input type="text" id="student-phone" class="personal-data-input">

                    <label for="student-study-field">Study Field:</label>
                    <input type="text" id="student-study-field" class="personal-data-input">

                    <label for="student-origin-university">Home University:</label>
                    <input type="text" id="student-origin-university" class="personal-data-input">

                    <label for="student-host-university">Host University:</label>
                    <select id="student-host-university">
                        <option value="none"></option>
                        <option value="Università di Pisa">Università di Pisa</option>
                        <option value="Scuola Superiore Sant'Anna">Scuola Superiore Sant'Anna</option>
                        <option value="Scuola Normale Superiore">Scuola Normale Superiore</option>
                    </select>

                    <label for="student-exchange-duration">Exchange Duration (months):</label>
                    <input type="text" id="student-exchange-duration" class="personal-data-input">

                    <label for="student-student-number">Student Number:</label>
                    <input type="text" id="student-student-number" class="personal-data-input">

                    <label for="student-address-origin">Address in Home Country:</label>
                    <input type="text" id="student-address-origin" class="personal-data-input">

                    <label for="student-city-origin">City in Home Country:</label>
                    <input type="text" id="student-city-origin" class="personal-data-input">

                    <label for="student-country-origin">Your Home Country:</label>
                    <input type="text" id="student-country-origin" class="personal-data-input">

                    <label for="student-document-type">Document Type:</label>
                    <select id="student-document-type">
                        <option value="none"></option>
                        <option value="passport">Passport</option>
                        <option value="identity-card">Identity Card</option>
                        <option value="driver-license">Driver License</option>
                    </select>

                    <label for="student-number-doc">Number Document:</label>
                    <input type="text" id="student-number-doc" class="personal-data-input">

                    <label for="student-expiration-date">Expiration Date:</label>
                    <input type="date" id="student-expiration-date" class="personal-data-input">

                    <label for="student-issued-by">Issued By:</label>
                    <input type="text" id="student-issued-by" class="personal-data-input">
        
                    <button type="button" id="confirm-student">Add Student</button>
                </form>
            </div>
        </div>
    </div>

    <div id="student-edit-form" class="student-edit-form hidden">
        <div class="edit-student-header">
            <h3>Student Information</h3>
        </div>
        <div class="edit-student-container">
            <div class="edit-student-content">
                <form class="personal-data-form">
                    <label for="edit-card-number">Number ESNcard:</label>
                    <input type="text" id="edit-card-number" class="personal-data-input">

                    <label for="edit-email">Email:</label>
                    <input type="email" id="edit-email" class="personal-data-input">

                    <label for="edit-name">Name:</label>
                    <input type="text" id="edit-name" class="personal-data-input">

                    <label for="edit-surname">Surname:</label>
                    <input type="text" id="edit-surname" class="personal-data-input">

                    <label for="edit-gender">Gender:</label>
                    <select id="edit-gender">
                        <option value="None"></option>
                        <option value="Man">Man</option>
                        <option value="Woman">Woman</option>
                        <option value="Non-binary">Non-binary</option>
                        <option value="Other">Other</option>
                        <option value="Prefer not to specify">Prefer not to specify</option>
                    </select>

                    <label for="edit-birth-date">Birth date:</label>
                    <input type="date" id="edit-birth-date" class="personal-data-input">

                    <label for="edit-nationality">Nationality:</label>
                    <input type="text" id="edit-nationality" class="personal-data-input">

                    <label for="edit-phone">Phone Number:</label>
                    <input type="text" id="edit-phone" class="personal-data-input">

                    <label for="edit-study-field">Study Field:</label>
                    <input type="text" id="edit-study-field" class="personal-data-input">

                    <label for="edit-origin-university">Home University:</label>
                    <input type="text" id="edit-origin-university" class="personal-data-input">

                    <label for="edit-host-university">Host University:</label>
                    <select id="edit-host-university">
                        <option value="none"></option>
                        <option value="Università di Pisa">Università di Pisa</option>
                        <option value="Scuola Superiore Sant'Anna">Scuola Superiore Sant'Anna</option>
                        <option value="Scuola Normale Superiore">Scuola Normale Superiore</option>
                    </select>

                    <label for="edit-exchange-duration">Exchange Duration (months):</label>
                    <input type="text" id="edit-exchange-duration" class="personal-data-input">

                    <label for="edit-student-number">Student Number:</label>
                    <input type="text" id="edit-student-number" class="personal-data-input">

                    <label for="edit-address-origin">Address in Home Country:</label>
                    <input type="text" id="edit-address-origin" class="personal-data-input">

                    <label for="edit-city-origin">City in Home Country:</label>
                    <input type="text" id="edit-city-origin" class="personal-data-input">

                    <label for="edit-country-origin">Your Home Country:</label>
                    <input type="text" id="edit-country-origin" class="personal-data-input">

                    <label for="edit-document-type">Document Type:</label>
                    <select id="edit-document-type">
                        <option value="none"></option>
                        <option value="passport">Passport</option>
                        <option value="identity-card">Identity Card</option>
                        <option value="driver-license">Driver License</option>
                    </select>

                    <label for="edit-number-doc">Number Document:</label>
                    <input type="text" id="edit-number-doc" class="personal-data-input">

                    <label for="edit-expiration-date">Expiration Date:</label>
                    <input type="date" id="edit-expiration-date" class="personal-data-input">

                    <label for="edit-issued-by">Issued By:</label>
                    <input type="text" id="edit-issued-by" class="personal-data-input">
        
                    <button type="button" id="save-edit-button">Save</button>
                </form>
            </div>
        </div>
    </div>



    <!-- Tasto per aprire il menu a tendina -->
    <div id="add-menu" class="add-menu">
        <button class="add-button">+</button>
        <div class="menu-items">
            <button id="add-student-button" class="menu-item">Add new student</button>
        </div>
    </div>

    <script>
        // Funzione per mostrare o nascondere il menu a tendina
        function toggleUserMenu() {
            const menu = document.getElementById('add-menu');
            const menuItems = document.querySelector('.menu-items');
            menuItems.style.display = menuItems.style.display === 'none' ? 'block' : 'none';
        }
        
        document.getElementById('add-student-button').addEventListener('click', toggleUserMenu);
    </script>

        
    
    <script src="students.js"></script>
    
</body>
</html>