<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <title>Volunteers</title>
    <meta name="viewport" content="viewport-fit=cover, width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="format-detection" content="telephone=no"/>
    <meta name="msapplication-tap-highlight" content="no"/>
    <link rel="icon" type="image/x-icon" href="..\..\assets\icons\favicon.ico">
    <link rel="stylesheet" href="..\..\assets\libs\volunteers.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
    <div class="search-bar">
        <a href="..\..\pages\homepage.html">
            <img class="logo" src="..\..\assets\icons\logo.png" alt="Logo">
        </a>
        <input type="text" id="search-input" placeholder="Search for...">
        <button id="search-button">Search</button>
    </div>

    <div id="user-list" class="user-list">
        <h1>Volunteers List</h1>
        <ul id="user-items" class="user-items">
            <!-- La lista dei volontari verrà inserita qui -->
        </ul>
    </div>

    <div id="user-view-form" class="user-view-form hidden">
        <div class="edit-profile-header">
            <h3>Volunteer Information</h3>
        </div>
        <div class="edit-profile-container">
            <div class="edit-profile-content">
                <form class="personal-data-form">
                    <label for="view-card-number">Number ESNcard:</label>
                    <input type="text" id="view-card-number" class="personal-data-input" disabled>

                    <label for="view-email">Email:</label>
                    <input type="email" id="view-email" class="personal-data-input" disabled>

                    <label for="view-name">Name:</label>
                    <input type="text" id="view-name" class="personal-data-input" disabled>

                    <label for="view-surname">Surname:</label>
                    <input type="text" id="view-surname" class="personal-data-input" disabled>

                    <label for="view-gender">Gender:</label>
                    <select id="view-gender" disabled>
                        <option value="NONE"></option>
                        <option value="MAN">Man</option>
                        <option value="WOMAN">Woman</option>
                        <option value="NON_BINARY">Non-binary</option>
                        <option value="OTHER">Other</option>
                        <option value="PREFER_NOT_TO_SPECIFY">Prefer not to specify</option>
                    </select>

                    <label for="view-birth-date">Birth date:</label>
                    <input type="date" id="view-birth-date" class="personal-data-input" disabled>

                    <label for="view-nationality">Nationality:</label>
                    <input type="text" id="view-nationality" class="personal-data-input" disabled>

                    <label for="view-phone">Phone Number:</label>
                    <input type="text" id="view-phone" class="personal-data-input" disabled>

                    <label for="view-study-field">Study Field:</label>
                    <input type="text" id="view-study-field" class="personal-data-input" disabled>

                    <label for="view-origin-university">Home University:</label>
                    <input type="text" id="view-origin-university" class="personal-data-input" disabled>

                    <label for="view-student-number">Student Number:</label>
                    <input type="text" id="view-student-number" class="personal-data-input" disabled>

                    <label for="view-address-origin">Home address:</label>
                    <input type="text" id="view-address-origin" class="personal-data-input" disabled>

                    <label for="view-city-origin">City:</label>
                    <input type="text" id="view-city-origin" class="personal-data-input" disabled>

                    <label for="view-country-origin">Country:</label>
                    <input type="text" id="view-country-origin" class="personal-data-input" disabled>

                    <label for="view-document-type">Document Type:</label>
                    <select id="view-document-type" disabled>
                        <option value="NONE"></option>
                        <option value="PASSPORT">Passport</option>
                        <option value="IDENTITY_CARD">Identity Card</option>
                        <option value="DRIVER_LICENSE">Driver License</option>
                    </select>

                    <label for="view-number-doc">Number Document:</label>
                    <input type="text" id="view-number-doc" class="personal-data-input" disabled>

                    <label for="view-expiration-date">Expiration Date:</label>
                    <input type="date" id="view-expiration-date" class="personal-data-input" disabled>

                    <label for="view-issued-by">Issued By:</label>
                    <input type="text" id="view-issued-by" class="personal-data-input" disabled>

                    <div class="button-container">
                        <button type="button" id="close-view-button">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script src="volunteers.js"></script>
</body>
</html>
